{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>prAIse</title>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>
    <div id="home" class="big-bg">
      <header class="page-header wrapper">
        <h1><a href="{% url 'geiot:index' %}"><img class="logo" src="{% static 'image/logo.png' %}" alt="prAIse ホーム"></a><h1>
        <nav>
          <ul class="main-nav">
            <li><a href="">求人一覧</a></li>
            <li><a href="">ステータス</a></li>
            <li><a href="">Web テスト</a></li> 
          </ul>
        </nav>
      </header>

      <div class="home-content wrapper">
        <h2 class="page-title">prAIse</h2>
        <p>機械学習人材スキルチェックサービス</p>
        <a class="button" href="">テストを受ける</a>
      </div><!-- /.home-content -->
    </div><!-- /#home --> 

    <div class="service">
      <h2><span>サービス紹介</span></h2>
    </div>
    
    <div class="wrapper service-grid">
      <div class="item">
        <img src="{% static 'image/recruit.jpg' %}" alt="">
        <h3>コードで採用</h3>
        <p>プログラミングスキルがあればES選考なしで企業に応募ができるITエンジニアを目指す人のための就職サービスです.</p>
      </div>
      <div class="item">
        <img src="{% static 'image/learning.jpg' %}" alt="">
        <h3>prAIse ラーニング</h3>
        <p>prAIseラーニングは、オンラインでプログラミングしながらスキルアップできるプログラミング入門学習コンテンツです。</p>
      </div>
    </div>

    <div class="job">
      <h2><span>新着求人</span></h2>
    </div>
    
    <div class="wrapper job-grid">
      <div class="item">
        <img src="{% static 'image/hoogle.jpg' %}" alt="">
        <h3>Hoogle</h3>
        <p>世界最大級のウェブ検索エンジンを提供する企業です．</p>
      </div>
      <div class="item">
        <img src="{% static 'image/disco.jpg' %}" alt="">
        <h3>Disco</h3>
        <p>ネットワーク機器の製造販売を行う世界シェア最大級の企業です．</p>
      </div>
      <div class="item">
        <img src="{% static 'image/bamazon.jpg' %}" alt="">
        <h3>Bamazon</h3>
        <p>世界最大級のEコマース・プラットフォームを提供する企業です．</p>
      </div>
      <div class="item">
        <img src="{% static 'image/nicrosoft.jpg' %}" alt="">
        <h3>Nicrosoft</h3>
        <p>オペレーティング・システムの開発・販売を行う世界シェア最大級の企業です．</p>
      </div>
      <div class="item">
        <img src="{% static 'image/metflix.jpg' %}" alt="">
        <h3>Metflix</h3>
        <p>動画配信サービス世界シェア最大級の企業です．</p>
      </div>
      <div class="item">
        <img src="{% static 'image/gacebook.jpg' %}" alt="">
        <h3>Gacebook</h3>
        <p>Gacebook や　Enstagram をグループに抱える SNS 業界のジャイアントです． </p>
      </div>
    </div>
  </body>

  <footer>
    <div class="footer">
      <p><small>&copy; 2020 チーム・ドードリオ</small></p>
    </div>
  </footer>
</html>